/* Fonts and colors */

:root {
    font-size: 16px;

    --body-font-family: 'Public_Sans', 'Arial', sans-serif;
    /*--code-font-family: 'JetBrainsMono', sans-serif;*/
    --public-sans-wght: 200;
    --type-scale: 0.8;
    --media-phone: 800px;
    --media-tablet: 1090px;
    --media-desktop: 3840px;

    /* colors 
    c1 = orange
    c2 = beige
    c3 = blue
    c4 = grey
    c5 = black
    */
    --c1: #FF8000;
    --c2: #B06E2C;
    --c3: #005E7A;
    --c4: #052c44;
    --c5: #1f1f1f;
    --c6: #d4c4b3;
    --c7: #f7f4f1;
    --c8: #cccbca;

}

body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-family: var(--body-font-family);
    font-weight: var(--public-sans-wght);
    margin: 0px;
    padding: 0px;
    color: var(--c5);
    line-height: calc(var(--type-scale) * 1.8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--c4);
    line-height: calc(var(--type-scale) * 1.4);
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

h1 {
    font-size: calc(1em * var(--type-scale) * 3);
}

h2 {
    font-size: calc(1em * var(--type-scale) * 2.2);
}

h3 {
    font-size: calc(1em * var(--type-scale) * 1.8);
}

h4 {
    font-size: calc(1em * var(--type-scale) * 1.3);
    color:#fff;
}
a {
    color:var(--c3);
    text-decoration: none;
    font-weight:500;
}

/* Page content */

header, footer > section {
    display:flex;
    text-align: left;
    justify-content: space-between;
    background-color:var(--c4);
}

footer {
    background-color:var(--c4);
    text-align: center;
    color:#fff;
    padding-bottom:2rem;
}

footer > section {
    width:80%;
    max-width: 1090px;
    margin:auto;
    margin-top:2rem;
}

footer > section > div {
    padding:1rem;
    color:#fff;
    font-weight:300;
}

footer > section > div {
    padding:1rem;
    color:#fff;
    font-weight:300;
}

main, nav {
    width: 80%;
    margin: auto;
    max-width: 1090px;
}

main {
    margin-top:4rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

div#brand {
    align-self:flex-start;
    width:400px;
    height: 100px;
    background-image: url("/img/Logo_ROCvF.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -30px;
}

div#menu {
    margin-top:35px;
}

nav-link {
    align-self: flex-end;
    padding-top:40px;
}


nav-link a {
    color:#fff;
    font-size: 1.2rem;
    text-decoration: none;
    margin-left:2rem;
}

article {
    display: grid;
    grid-template-columns:repeat( auto-fit, minmax(250px, 1fr) );
    gap: 2rem;
    margin: auto;
    /*border: black 1px solid;*/
    margin-bottom: 1rem;
}

section {
    display: grid;
    grid-template-columns:repeat( auto-fit, minmax(300px, 1fr) );
    gap: 1rem;
    margin-bottom: 4rem;
}

card-element {
    border-radius: 16px;
    padding: 1rem;
    box-shadow: 3px 3px 5px 1px #cccbca;
}

card-element > p {
    color: #1f1f1f;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



