/* @font-face {
    font-family:'JetBrainsMono';
    font-weight: 100 900;
    font-style: italic;
    src:url('JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
} */

@font-face {
    font-family:'JetBrainsMono';
    font-weight: 100 900;
    font-style: normal;
    src:url('JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}